
<div class="col-xs-4 well">
	<div class="well well-sm col-xs-12">
		<button class="btn btn-primary col-xs-2">
			<span class="glyphicon glyphicon-search"></span>
		</button>
		<div class="col-xs-4">
			<input type="date" class="form-control" />
		</div>
		<div class="col-xs-2" style="text-align: center;">
			<span class="glyphicon glyphicon-minus"></span>
		</div>
		<div class="col-xs-4">
			<input type="date" class="form-control" />
		</div>
	</div>

	<div class="well well-sm col-xs-12">
		<button class="btn btn-primary col-xs-2">
			<span class="glyphicon glyphicon-search"></span>
		</button>
		<div class="col-xs-10">
			<input type="text" class="form-control" />
		</div>
	</div>

	<button class="btn btn-primary col-xs-4"
		ng-click="izvediGlasanje(selectedAmandman.documentURI,glasZa,glasProtiv,glasUzdrzani)">Potvrdi
		glasanje</button>
	<h4 class="col-xs-8">{{selectedAmandman.documentName}}</h4>

	<form role="form">
		<table class="table table-hover table-bordered">
			<thead>
				<tr>
					<th><h3>Amandmani</h3></th>

				</tr>

			</thead>
			<tbody>
				<tr style="text-align: left;" ng-repeat="amandman in listaAmandmana">
					<td style="vertical-align: middle;"
						ng-click="selectAmandman(amandman)"><label>{{amandman.documentName}}</label></td>
				</tr>
			</tbody>
		</table>
	</form>
</div>
<div class="col-xs-8 well">
	<div class=col-xs-4>
		<input type="text" class="form-control" placeholder="Za"
			ng-model="glasZa" />
	</div>
	<div class=col-xs-4>
		<input type="text" class="form-control" placeholder="Uzdrzani"
			ng-model="glasUzdrzani" />
	</div>
	<div class=col-xs-4>
		<input type="text" class="form-control" placeholder="Protiv"
			ng-model="glasProtiv" />
	</div>
</div>
