
<div>

	<div class="col-xs-4">
		

		<div id="listView" class="well col-xs-12 ">
			
			
			<div class="well well-sm col-xs-12">
				<button class="btn btn-primary col-xs-2">
					<span class="glyphicon glyphicon-search"></span>
				</button>
			<div class="col-xs-10">
				<input type="text" class="form-control" />
			</div>
			</div>

			<button class="btn btn-primary col-xs-4" ng-click="removeAmandman(selectedAmandman.documentURI)">Uklanjanje
				amandmana</button>
			<h4 class="col-xs-8">{{selectedAmandman.documentName}}</h4>

			<form role="form">
				<table class="table table-hover table-bordered">
					<thead>
						<tr>
							<th><h3>Amandmani</h3></th>

						</tr>

					</thead>
					<tbody>
						<tr style="text-align: left;"
							ng-repeat="amandman in listaAmandmana">
							<td style="vertical-align: middle;"
								ng-click="selectAmandman(amandman)"><label>{{amandman.documentName}}</label></td>
						</tr>
					</tbody>
				</table>
			</form>
		</div>
	</div>
	<div class="col-xs-8">
		<div class="col-xs-12">
			<textarea class="form-control" ng-model="sadrzajAmandmana"></textarea>
		</div>
	</div>



</div>
