
<div id="listView" class="well col-xs-4 ">
	<div class="well well-sm col-xs-12">
		<button class="btn btn-primary col-xs-2">
			<span class="glyphicon glyphicon-search"></span>
		</button>
		<div class="col-xs-4">
			<input type="date" class="form-control" />
		</div>
		<div class="col-xs-2" style="text-align: center;">
			<span class="glyphicon glyphicon-minus"></span>
		</div>
		<div class="col-xs-4">
			<input type="date" class="form-control" />
		</div>
	</div>

	<div class="well well-sm col-xs-12">
		<button class="btn btn-primary col-xs-2">
			<span class="glyphicon glyphicon-search"></span>
		</button>
		<div class="col-xs-10">
			<input type="text" class="form-control" />
		</div>
	</div>
	<form role="form">
		<table class="table table-hover table-bordered">
			<thead>
				<tr>
					<th><h3>Postojeci akti</h3></th>
					<th></th>
				</tr>

			</thead>
			<tbody>
				<tr style="text-align: left;" ng-repeat="akt in listaAkata">
					<td style="vertical-align: middle;" ng-click="addAkt(akt)"><label>{{akt.documentName}}</label></td>
					<td style="vertical-align: middle;"><button
							style="width: 100%;" type="button" class="btn btn-primary"
							ng-click="prikazSadrzajaAkta(akt)">Pregled akta</button></td>
				</tr>
			</tbody>
		</table>
	</form>
</div>
<div class="well col-xs-6">
	<form role="form">
		<!-- <div ng-include="viewAkt"></div>  -->
	</form>
</div>

<div class="well col-xs-2">
	<table class="table table-hover table-bordered">
		<thead>
			<tr>
				<th><h3>Odabrani Akti</h3></th>

			</tr>

		</thead>
		<tbody>
			<tr style="text-align: left;" ng-repeat="akt in listaOdabranihAkata">
				<td style="vertical-align: middle;" ng-click="removeAkt(akt)"><label>{{akt}}</label></td>

			</tr>
		</tbody>
	</table>
</div>
