<div id="listView" class="well col-xs-4 ">
	<div class="well well-sm col-xs-12">
		<button class="btn btn-primary col-xs-2">
			<span class="glyphicon glyphicon-search"></span>
		</button>
		<div class="col-xs-4">
			<input type="date" class="form-control" />
		</div>
		<div class="col-xs-2" style="text-align: center;">
			<span class="glyphicon glyphicon-minus"></span>
		</div>
		<div class="col-xs-4">
			<input type="date" class="form-control" />
		</div>
	</div>

	<div class="well well-sm col-xs-12">
		<button class="btn btn-primary col-xs-2">
			<span class="glyphicon glyphicon-search"></span>
		</button>
		<div class="col-xs-10">
			<input type="text" class="form-control" />
		</div>
	</div>


	<h4 class="col-xs-12">{{selectedAmandman}}</h4>

	<form role="form">
		<table class="table table-hover table-bordered">
			<thead>
				<tr>
					<th><h3>Amandmani</h3></th>

				</tr>

			</thead>
			<tbody>
				<tr style="text-align: left;" ng-repeat="amandman in listaIzglasanihAmandmana">
					<td style="vertical-align: middle;"
						ng-click="prikazSadrzajaAmandmana(amandman)"><label>{{amandman.documentName}}</label></td>
				</tr>
			</tbody>
		</table>
	</form>
</div>

<div class="well col-xs-8"><iframe class="col-xs-12" src="{{viewAmandman}}"></iframe></div>